@font-face {
  font-family: 'Magic School One';
  src: url('font/MagicSchoolOne.ttf');
}


html{
  text-align: center;
  height: 100%;
  font-family: 'Magic School One';
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

div{
  display: inline-block;
}

canvas{
  margin-top: 5px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  text-align: center;
  padding-top: 20px;
  background-image: linear-gradient(to bottom right, #000000, #02003f);
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #000000, #02003f);
}

#header img{
  padding-left: 2%;
  float: left;
  max-height: 92px;
  max-width: 92px;
  
}



#header h1{
  font-size: auto;
  position: absolute;
  top: 0;
  left: 50vw;
}

a{
  color: whitesmoke;
}

img{
  width: 150px;
  height: auto;
}

.content{
  position: absolute;
  left: 178px; top: 112px; right: 0; bottom: 0;
}

.menu
{
  height: 100vh;
  width: 10vw;
  min-width: fit-content;
  position: fixed;
  top: 112px;
  left: 0;
  background-image: linear-gradient(to bottom right, #000000, #02003f);
  overflow-x: hidden; /* Disable horizontal scroll */
}

.menu a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.menu a:hover{
  background-color: #424242 ;
  color:#f1f1f1
}


  #registration-form{
    border: #3c3838;
    border-width: 3px;
  }
  
  
  .menu .active {
    color: gold;
  }
  
